*{
	box-sizing: border-box;
}
body{
	width: 100%;
	margin: 0 auto;
	max-width: 1440px;
    background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}
h5{
	margin:0;
}
.images{
	width:60%;
	height:auto;
}


/*navbar*/
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00619f;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-style:bold;
}

ul.topnav li a:hover:not(.aktivna) {background-color: #002266; text-decoration: underline;}

ul.topnav li a.aktivna {background-color: #4F94CD;}

ul.topnav li.right {float: right;}


@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}



/*footer*/
.footer {  
	clear: both;
	background-color: #00619f;
    padding-top: 1em;
	padding: 5px;
	width: 100%;
	color: white;
	font-style:bold;
	text-align: center;
	position: relative;
	bottom: 0px;
    text-align: center;	
} 

img{
	width:100%;
	max-width:100%;
	height:auto;
}	
.red{
	padding: 20px;
	width:100%;
	float:left;
	min-height: 1px;
}
.slider{
	padding: 20px;
	width:100%;
	float:left;
	min-height: 1px;
    margin-top:-1.5%;
}
.mySlides,.content{
	width:100%;
	max-width:100%;
	height:auto;	
}

.ikone{
	padding: 20px;
	width:100%;
	float:left;
	min-height: 1px;
}
.kolona{
	margin-left: 2%;/*razmaknute*/
	margin-right: 2%;
	display: inline-block; /*Omogućava da se kolone prikažu bez da se float mora clearovati poslije*/
	float:left;
	min-height: 20px;
	text-align: center;
}
.kolona:first-child{
	margin-left: 0px;
}

.kolona:last-child{
	margin-right: 0px;
}
.kolona.ikona{
   width: 30.66%;
}

.kolona.cetri{
	width: 100%;
}
.kolona.tri{
	width: 74%;
}
.kolona.dva{
	width: 48%;
}
.kolona.jedan{
	width: 22%;
}
/*uclani se*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.format {
    border-radius: 5px;
    background-color:#f2f2f2;
	background-size:100%;
    padding: 20px;
	margin-right:20%;
	margin-left:20%;
}

/*validacija*/
.greska{
	color:red;
}

#uclaniSe{
	background-image:url("clanstvo.png");
	background-repeat:no-repeat;
	background-size:100%;
}

/*kontakt*/
#mapa{
	width:75%;
}
#forma-main{
	width:100%;
	float:left;
	padding-top:0px;
	background-image:url("kontakt.jpg");
	background-repeat:no-repeat;
	background-size:100%;
}
#form-div {
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
	margin-top:30px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

#ime{
	background-image: url("user.png");
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url("email.png");
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#phone{
	background-image: url("phone.png");
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#poruka{
	background-image: url("speech.png");
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

#posalji1{
	font-family: verdana, sans-serif ;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #00619f;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	margin-top:-4px;
	font-weight:700;
}

#ime, #email, #phone{
	color:#3c3c3c;
	font-family: verdana, sans-serif;
	font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}


/*grupni trening*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

#grupneSlike{
	width:400px;
	height:200px;
}

/*osobni trening*/
#trener{
	width:400;
	height:200;
}
#najTrener{
	background-image:url("girl.jpg");
	background-position:fixed;
}

.button {
    background-color: #00619f;
    border-color:white;
	border-radius:30px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:14px;
    margin: 4px 2px;
    cursor: pointer;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/* carousel*/
   .carouselbox {
      font-family: helvetica,sans-serif;
      font-size: 14px;
      width: 1284px;
      position: relative;
      margin: 1em;
      border: 1px solid #ccc;
      box-shadow: 2px 2px 10px #ccc;
      overflow: hidden;
    }
    .content {
      margin: 0;
      padding: 0;
    }
    .content li {
      font-size: 100px;
      margin: 0;
      padding: 0;
      width: 100%;
      list-style: none;
      text-align: center;
      z-index: 2;
    }
    .active {
      height: 550px;
    }
    .carouselbox button {
      border: none;
      visibility: hidden;
	  color:blue;
    }
    .active button {
      visibility: visible;
    } 
    .offscreen {
      position: absolute;
      left: -2000px;
    }
    .active .buttons {
      padding: 5px 0;
      background: #eee;
      text-align: center;
      z-index: 10;
      position: relative;
    }
    .active li {
      position: absolute;
      top: 20px;
      opacity: 0;
      transform: scale(0);
      transition: 1s;
    }
    .active li.current {
      top: 20px;
      opacity: 1;
      transform: scale(1);
      transition: 1s;
    }
 
	
	
	/* foolscreen */
	.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 9%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

#grupneSlike{
	width:100%;
	height:100%;
}

/* media query  */
@media only screen and (max-device-width: 830px){
    .kolona.jedan {
        width: 100%;
    }
	.kolona.dva{
		width:100%;
	}
	.kolona.cetri{
		width:100%;
		float:none;
	}
	.kolona.tri{
		width:100%;
	}
   	.kolona.ikona{
		width:98%;
		float:none;
	}
	.kolona4{
		width:100%;
		float:none;
	}
	.kolonac{
		width:100%;
		float:none;
	   padding-right: 3%;
	}
	.carouselbox {
		width:100%;
		float:none;
	}
	input{
margin-bottom:70px;
	}
	#form-div{
	left: 3%;
	margin-top:3%;
	margin-right: 3%;
	width: 88%;
	margin-left: 0;
	padding-left: 3%;
	padding-right: 3%;
	border-color:
	}
	
	ul li{
		width:100%;
		line-height: 0px;
	}
	.header{
		background-image:none;
	}
	#najTrener {
	background-image:none;
	width:100%;
	height:auto;
	}
	form{
		font-size:35pt;
	}
	h2{
		font-size:20px;
	}
	/*input[type=radio]{
		height:2em;
		width:4%;
	}
 	#dugme{
		height:5em;
		width:25%;
		font-size:24px;
	} */
.images{
	width:30%;
	height:auto;
}
	#footer{
	width: 100%;
    height: 100%;
}
}

@media only screen and (max-width: 830px){
    .kolona.jedan {
        width: 100%;
    }
	.kolona.dva{
		width:100%
	}
	.kolona.cetri{
		width:100%;
		float:none;
	}
	.kolona.tri{
		width:100%;
	}
   	.kolona.ikona{
		width:100%;
		float:none;
	}
	.kolona4{
		width:100%;
		float:none;
	}
	.kolonac{
		width:100%;
		float:none;
	   padding-right: 3%;
	}
	.carouselbox {
		width:100%;
	}
	input{
margin-bottom:70px;
	}
	#form-div{
	left: 3%;
	margin-top:3%;
	margin-right: 3%;
	width: 88%;
	margin-left: 0;
	padding-left: 3%;
	padding-right: 3%;
	}
	
	ul li{
		width:100%;
		line-height: 0px;
	}
    #najTrener{
	background-image:none;
}
.images{
	width:30%;
	height:auto;
}
	#footer{
	width: 100%;
    height: 100%;
}
}